<!DOCTYPE html>
<html ng-app="beerApp">
<head>
	<meta charset="UTF-8">
	<script src="Js/angular.min.js"></script>
	<script src="Js/app.js"></script>

</head>

<body ng-controller="BeerController as beerCtrl">
	<header id="banner">
		<h1>Beer Application</h1>
	</header>
	
	<section id="content">
		<div id="beerContainer" ng-repeat="item in beerCtrl.beers | orderBy:price"> 
			<p> {{ item.name }} </p>
			<p> {{ item.description }} </p>
			<p> {{ item.type }} </p>
			<p> {{ item.price | currency}} </p>
			<p> {{ item.country }} </p>
			<div ng-controller="RatingController as ratingCtrl" ng-repeat="r in ratingCtrl.sumOfRatings"> <!--FIXA HÄR!!!!-->
				<p> {{ r. }} </p>
			</div>
	
		</div>
	</section>
	<section id="footer">
		<h1>Beer Application Footer</h1>
	</section>
</body>	
</html>